/* ===================== */
/* COMMOM CSS */
body{
    background: #f1f1f1;
    font-family: sans-serif,arial,Helvetica;
}

a,
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
.btn:focus,
button:focus{
    outline: none;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

h2.page-heading{
    margin: 5px 0 30px;
    padding: 0 5px 10px;
    border-bottom: 2px solid #333;
}

/* ===================== */

/* ===================== */
/* ADMIN Panel CSS  */
/* ===================== */

#wrapper-admin{
    padding: 100px 0 0;
}

img.logo{
    width: 100%;
    height: auto;
    display: block;
}

#header-admin{
    background-color: #c22026 !important;
    padding: 15px 0;
}

#header-admin .admin-logout{
    margin: 10px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

#header-admin .admin-logout:hover{
    text-decoration: underline;
}

#admin-menubar{
    background-color: #fff;
}
#admin-menubar .admin-menu{
    font-size: 0;
}
#admin-menubar .admin-menu li{
    display: inline-block;
    margin: 0 5px 0 0;
}
#admin-menubar .admin-menu li a{
    color: #3179c3;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 15px;
    display: block;
    transition: all 0.3s;
}

#admin-menubar .admin-menu li a:hover{
    color: #fff;
    background-color: #333333;
}

#admin-content{
    padding: 20px 0;
    min-height: 750px;
}

#admin-content .admin-heading{
    font-size: 35px;
    margin: 0 0 15px;
}

#admin-content .add-new{
    color: #fff;
    background-color: #26b226;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 10px;
    display: block;
    transition: all 0.3s;
}
#admin-content .add-new:hover{
    text-shadow: 0 0 3px #000;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
}

#admin-content .content-table{
    border: 1px solid #000;
    width: 100%;
    margin: 0 0 20px;
}

#admin-content .content-table thead{
    color: #fff;
    background-color: #333;
}

#admin-content .content-table th{
    padding: 10px;
    border: 1px solid #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

#admin-content .content-table tbody{
    color: #333;
}

#admin-content .content-table tbody tr{
    background-color: #e7e7e7;
}
#admin-content .content-table tbody tr:nth-child(even){
    background-color: transparent;
}
#admin-content .content-table tbody td{
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;

}

#admin-content .content-table tbody td:nth-child(2){
    text-align: left;
}

#admin-content .admin-pagination{
    margin: 0;
}
#admin-content .admin-pagination li a{
    display: block;
}

.id,
.edit,
.delete{
    text-align:center;
}

form{
    background: #fff;
    padding: 25px;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.13);
}

/* ===================== */
/* FrontEnd CSS  */
/* ===================== */

/* Header Styling */
#header{
    background: #c22026;
    text-align: left;
    padding: 15px;
}

#logo{
    display: inline-block;
    width: 65%;
}

#logo img{
    width: 100%;
}

/* Menubar Styling */
#menu-bar{
    background: #333;
    text-align: center;
}

#menu-bar .menu > li{
    display: inline-block;
}

.menu > li > a{
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight:600;
    transition:all 0.5s ease 0s;
}

#menu-bar .menu > li > a:hover,
#menu-bar .menu > li > a.active{
    color:#fff;
    background:#e4e6d6;
}

/* Main Content Styling */
#main-content{
    padding: 30px 0;
    min-height: 750px;
}

#main-content .post-container{
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

#main-content .post-content{
    border-bottom: 1px solid #d1d1d1;
    padding: 0 0 30px;
    margin-bottom:30px;
}

#main-content .post-content img{
    width: 100%;
}

#main-content .post-content .post-img{
    border: 3px solid #e7e7e7;
    display: block;
    height: 145px;
    overflow: hidden;
    transition: border .3s;
}
#main-content .post-content .post-img:hover{
    border: 3px solid #1e90ff;
}

#main-content .post-content h3{
    font-size: 21px;
    line-height: 28px;
    font-weight: 600;
    margin: 0 0 7px;

}
#main-content .post-content h3 a{
    color: #1e90ff;
    transition:all 0.3s;
}
#main-content .post-content h3 a:hover{
    color:#333;
}

#main-content .post-content .post-information span{
    color: #606060;
    font-size: 12px;
    text-transform: capitalize;
    margin: 0 5px 5px 0;
    display: inline-block;
}

#main-content .post-content .post-information i{
    color: #1e90ff;
    margin-right: 1px;
}

#main-content .post-content .post-information a{
    color: #606060;
    text-decoration: none;
}

#main-content .post-content .post-information a:hover{
    color: #333;
    text-decoration: none;
}

#main-content .post-content p,
#main-content .single-post p{
    color: #666;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin:0 0 10px;
}

#main-content .post-content a.read-more{
    color: #fff;
    background-color: #333333;
    font-size: 12px;
    text-transform: capitalize;
    padding: 3px 8px;
    border-radius: 2px;
    transition: all 0.3s;
}

#main-content .post-content a.read-more:hover{
    color: #fff;
    background-color: #333;
}

#main-content .single-post{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

#main-content .single-post h3{
    color: #1e90ff;
}

#main-content .single-post .post-information{
    margin: 0 0 10px;
}
#main-content .single-post p{
    text-align: justify;
}

#main-content .single-post img.single-feature-image{
    width: 70%;
    margin: 0 auto 20px;
    display: block;
    border: 3px solid #e7e7e7;
}

/* Pagination  Styling */
.pagination {
    display: block;
    text-align: center;
    margin: 0;
}

.pagination li {
    display:inline-block;
    margin: 0 5px 0 0;
}

.pagination li a{
    border: none;
    background: #1e90ff;
    color: #fff;
}

.pagination li a:hover,
.pagination > li > a:focus{
    color:#fff;
    background:#333;
}

.page_links {
    background-color: #ccc;
    font-family: arial, verdana;
    font-size: 12px;
    text-decoration: none;
    border:1px solid #000;
    padding: 6px;
    margin: 3px;
}

#page_a_link{
    font-size: 12px;
    border:1px #000000 solid;
    color:#000;
    background-color: #cccccc;
    padding: 6px;
    margin: 3px;
    text-decoration: none;
}

i.fa{
    color:#222;
}

/* Sidebar Styling */
#sidebar h4{
    color: #1A1A1A;
    font-size: 17px;
    line-height: 27px;
    font-weight:600;
    text-transform: uppercase;
    padding: 0 0 0 5px;
    margin: 0 0 21px;
    border-left: 3px solid #1e90ff;
}

#sidebar .search-box-container{
    background-color: #fff;
    padding: 20px;
    margin: 0 0 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

#sidebar .search-post{
    padding: 0;
}
#sidebar .search-post input{
    color: #606060;
}
#sidebar .search-post input:focus{
    box-shadow: none;
    border-color: #999;
}

#sidebar .search-post .btn{
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 8px;
    background-color: #333333;
    border-color: #333333;
    outline: none;
}

#sidebar .search-post .btn:hover,
#sidebar .search-post .btn:focus{
    text-shadow: 0 0 3px #333;
}

#sidebar .search-post i.fa{
    font-size: 16px;
    color: #999999;
    line-height: 40px;
    float:right;
}


/* Footer Styling */
#footer{
    color: #000;
    padding:15px 0;
    text-align:center;
    background-color:#e4e6d6;
}

#footer  a{
    color:#e20d0d;
}

#footer  span  a:hover{
    text-decoration: underline;
}
